{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "components": "./src/app/components",
          "containers": "./src/app/containers"
        },
        "extensions": [".js", ".jsx", ".ts", ".tsx", ".jpg"]
      }
    ]
  ]
}
