// TODO refactor in hierarchical structure
.contentWrapper {
  display: flex;

  .palette {
    flex: 1;

    .paletteSection {
      margin-bottom: 15px;

      .btn {
        width: 50%;
        height: 100px;
      }
    }
  }
}

.uploaderComponent {
  display: none;
}

.taskDescription {
  margin-top: 5%;
  margin-bottom: 5%;
}

.buttonWrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
}
